<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<% if current_user %>
			Commenting as: <%= current_user.email %>
		<% else %>
			Only <%= link_to 'logged in', log_in_path %> users can add comments
		<% end %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>