<h1>Listing articles</h1>

<div id="tag_cloud">
	<b> Popular tags </b>
	<br>
	<% tag_cloud.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %> 
	<% end %>
</div>
<br>

<%= link_to 'New article', new_article_path %>
<table>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Text</th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.id %></td>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article_path(article),
					method: :delete,
					data: {confirm: 'Are you sure?' }  %></td>
		</tr>
	<% end %>
</table><br>